.badge {
  display: flex;
  justify-content: center;
  background-color: tomato;
  border-radius: 13px;
  width: 26px;
  height: 26px;
  align-items: center;
  color: white;
  font-weight: 600;
}

.small-badge {
  display: flex;
  justify-content: center;
  background-color: tomato;
  width: 4px;
  height: 4px;
  border-radius: 2px;
}
