.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 20px var(--horizontal-space);
  align-items: center;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.screen-header__alert-2nd {
  position: absolute;
  left: 75px;
  bottom: 25px;
}

.screen-header__alert-3rd {
  position: absolute;
  left: 125px;
  bottom: 25px;
}

@keyframes animationCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: animationCog 1s linear infinite;
}
