.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 20px var(--horizontal-space);
  align-items: center;
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.screen-header__alert {
  position: absolute;
  left: 75px;
  bottom: 25px;
}
