@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*component*/
@import "component/status-bar.css";
@import "component/navigation-bar.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/alert.css";

/*screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";

@import "variables.css";
@import "reset.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #2f363e;
  /*height: 1000vh;*/
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
